body{
font-family:Arial;
background:#f4f6fb;
padding:40px;
max-width:700px;
margin:auto;
}

h2{
color:#1f2f56;
}

button{
background:#1f2f56;
color:white;
border:none;
padding:10px 20px;
margin-top:10px;
cursor:pointer;
}

button:hover{
background:#314a8a;
}

img{
max-width:300px;
margin-top:15px;
display:block;
}

pre{
background:white;
padding:15px;
border-radius:6px;
overflow:auto;
margin-top:20px;
}
